<a href="https://colab.research.google.com/github/A01737838/Valores-Nulos/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data.isnull().sum()
valores_nulos

In [7]:
#Realizamos una copia del dataframe
data1=data.copy()

In [8]:
#Sustituir valores nulos con promedio o media
data1["salon_ventas"]=data1["salon_ventas"].fillna(round(data["salon_ventas"].mean(),1))

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Sustituir valores nulos con mediana
data1["tarjetas_debito"]=data1["tarjetas_debito"].fillna(round(data["tarjetas_debito"].median(),1))
data1

In [ ]:
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Sustituir valores nulos por un valor numérico en  concreto
data1["tarjetas_credito"]= data1["tarjetas_credito"].fillna(10)
data1

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [19]:
#Sustituir valores nulos por un string en  concreto
data1["otros_medios"] =data1["otros_medios"].fillna("1782030.557")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [21]:
#Sustituir valores nulos por valores no nulos hacia adelante  "forward fill" ("ffill")
#Filtro por columnas
data1["subtotal_ventas_alimentos_bebidas"] =data1["subtotal_ventas_alimentos_bebidas"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [24]:
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
#Filtro por columnas
data1["bebidas"] =data1["bebidas"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [26]:
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
#Filtro por columnas
data1["almacen"] =data1["almacen"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [28]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
data1["panaderia"] =data1["panaderia"].fillna(method="ffill")

In [29]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [30]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
data1["lacteos"] =data1["lacteos"].fillna(method="ffill")

In [31]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
data1["carnes"] =data1["carnes"].fillna(method="ffill")

In [32]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
data1["verduleria_fruteria"] =data1["verduleria_fruteria"].fillna(method="ffill")

In [33]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
data1["alimentos_preparados_rotiseria"] =data1["alimentos_preparados_rotiseria"].fillna(method="ffill")

In [34]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
data1["indumentaria_calzado_textiles_hogar"] =data1["indumentaria_calzado_textiles_hogar"].fillna(method="ffill")

In [35]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
data1["electronicos_articulos_hogar"] =data1["electronicos_articulos_hogar"].fillna(method="ffill")

In [36]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
data1["otros"] =data1["otros"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Corroboramos valores nulos en todo el dataframe
valores_nulos=data1.isnull().sum().sum()
valores_nulos